In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("IrrigationWater_Final_Dataset.csv")
data

      RSC    PI   KR    MH    Na  SAR   SSP      EC       IWQI  USABLE
0    0.12  59.2  0.5  39.8  33.6  1.8  33.3  1045.0  63.379762     1.0
1   -0.21  58.9  0.3  54.8  25.6  1.0  25.1   645.0  50.337302     1.0
2   -1.28  72.2  1.2  35.0  53.8  3.5  53.7   998.0  68.144246     1.0
3   -0.20  55.2  0.5  25.2  34.7  2.3  34.4  1516.0  64.631448     1.0
4   -0.33  62.5  0.4  43.8  31.1  1.3  30.8   658.0  51.432242     1.0
..    ...   ...  ...   ...   ...  ...   ...     ...        ...     ...
351 -1.44  67.0  0.9  35.9  52.6  2.5  53.4  1260.0  66.562897     1.0
352 -1.03  70.9  1.0  56.2  56.5  2.9  59.5  1207.0  79.405853     1.0
353 -2.97  48.1  0.4  30.9  36.7  1.3  32.9  1323.0  32.594147     0.0
354 -1.31  65.9  0.8  46.7  48.3  2.4  52.5  1245.0  67.644940     1.0
355 -2.01  57.9  0.6  51.9  39.3  1.9  45.2  1020.0  50.114980     1.0

[356 rows x 10 columns]

In [3]:
data.head()

    RSC    PI   KR    MH    Na  SAR   SSP      EC       IWQI  USABLE
0  0.12  59.2  0.5  39.8  33.6  1.8  33.3  1045.0  63.379762     1.0
1 -0.21  58.9  0.3  54.8  25.6  1.0  25.1   645.0  50.337302     1.0
2 -1.28  72.2  1.2  35.0  53.8  3.5  53.7   998.0  68.144246     1.0
3 -0.20  55.2  0.5  25.2  34.7  2.3  34.4  1516.0  64.631448     1.0
4 -0.33  62.5  0.4  43.8  31.1  1.3  30.8   658.0  51.432242     1.0

In [4]:
data.shape

(356, 10)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RSC     356 non-null    float64
 1   PI      356 non-null    float64
 2   KR      356 non-null    float64
 3   MH      356 non-null    float64
 4   Na      356 non-null    float64
 5   SAR     356 non-null    float64
 6   SSP     356 non-null    float64
 7   EC      356 non-null    float64
 8   IWQI    356 non-null    float64
 9   USABLE  356 non-null    float64
dtypes: float64(10)
memory usage: 27.9 KB

In [6]:
data.describe()

,RSC,PI,KR,MH,Na,SAR,SSP,EC,IWQI,USABLE
count,356.000000,356.000000,356.000000,356.000000,356.000000,356.000000,356.000000,356.000000,356.000000,356.000000
mean,-3.064242,37.680056,0.643820,44.016011,40.891854,7.136236,34.762360,1810.786517,49.060126,0.488764
std,7.917975,26.375834,0.606204,13.662433,23.917930,10.453207,19.607348,2480.481842,66.853778,0.500577
min,-76.220000,0.200000,0.000000,16.900000,1.500000,0.000000,1.500000,320.000000,-416.636706,0.000000
25%,-3.525000,0.700000,0.200000,33.875000,23.950000,1.075000,21.450000,584.000000,23.338839,0.000000
50%,-0.500000,43.600000,0.500000,43.700000,40.050000,2.550000,34.600000,1020.000000,48.955704,0.000000
75%,0.000000,56.875000,0.900000,53.425000,59.725000,8.900000,48.725000,1615.000000,75.045089,1.000000
max,3.660000,89.700000,3.700000,83.200000,89.400000,63.700000,83.300000,20084.000000,348.792262,1.000000

In [7]:
data.columns

Index(['RSC', 'PI', 'KR', 'MH', 'Na', 'SAR', 'SSP', 'EC', 'IWQI', 'USABLE'], dtype='object')

In [8]:
data.index

RangeIndex(start=0, stop=356, step=1)

In [9]:
data.dtypes

RSC       float64
PI        float64
KR        float64
MH        float64
Na        float64
SAR       float64
SSP       float64
EC        float64
IWQI      float64
USABLE    float64
dtype: object

In [10]:
data.isnull()

       RSC     PI     KR     MH     Na    SAR    SSP     EC   IWQI  USABLE
0    False  False  False  False  False  False  False  False  False   False
1    False  False  False  False  False  False  False  False  False   False
2    False  False  False  False  False  False  False  False  False   False
3    False  False  False  False  False  False  False  False  False   False
4    False  False  False  False  False  False  False  False  False   False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...     ...
351  False  False  False  False  False  False  False  False  False   False
352  False  False  False  False  False  False  False  False  False   False
353  False  False  False  False  False  False  False  False  False   False
354  False  False  False  False  False  False  False  False  False   False
355  False  False  False  False  False  False  False  False  False   False

[356 rows x 10 columns]

In [11]:
data.isnull().sum()

RSC       0
PI        0
KR        0
MH        0
Na        0
SAR       0
SSP       0
EC        0
IWQI      0
USABLE    0
dtype: int64

In [16]:
data["USABLE"].unique()

array([1., 0.])

In [17]:
X = data.drop(["USABLE"] , axis = 1 )
Y = data["USABLE"]

In [18]:
print (X)

      RSC    PI   KR    MH    Na  SAR   SSP      EC       IWQI
0    0.12  59.2  0.5  39.8  33.6  1.8  33.3  1045.0  63.379762
1   -0.21  58.9  0.3  54.8  25.6  1.0  25.1   645.0  50.337302
2   -1.28  72.2  1.2  35.0  53.8  3.5  53.7   998.0  68.144246
3   -0.20  55.2  0.5  25.2  34.7  2.3  34.4  1516.0  64.631448
4   -0.33  62.5  0.4  43.8  31.1  1.3  30.8   658.0  51.432242
..    ...   ...  ...   ...   ...  ...   ...     ...        ...
351 -1.44  67.0  0.9  35.9  52.6  2.5  53.4  1260.0  66.562897
352 -1.03  70.9  1.0  56.2  56.5  2.9  59.5  1207.0  79.405853
353 -2.97  48.1  0.4  30.9  36.7  1.3  32.9  1323.0  32.594147
354 -1.31  65.9  0.8  46.7  48.3  2.4  52.5  1245.0  67.644940
355 -2.01  57.9  0.6  51.9  39.3  1.9  45.2  1020.0  50.114980

[356 rows x 9 columns]

In [19]:
X_train , X_test ,Y_train , Y_test = train_test_split(X , Y , test_size= 0.2 , stratify=Y , random_state=2)
print(X.shape , X_train.shape , X_test.shape)

(356, 9) (284, 9) (72, 9)

In [20]:
model = LogisticRegression()

In [21]:
model.fit(X_train,Y_train)

C:\Users\omar\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [22]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction , Y_train)
print("Accuracy for training data : " ,training_data_accuracy)

Accuracy for training data :  0.9507042253521126

In [23]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction , Y_test)
print("Accuracy for testing data : " ,test_data_accuracy)

Accuracy for testing data :  0.9305555555555556

In [31]:
input_data = (0.0,0.4,1.6,44.3,70.9,21.8,55.4,1480.0,100.29156746031747)
input_data_as_nparray = np.asarray(input_data)

In [32]:
X_train.ndim

2

In [33]:
 input_data_as_nparray.ndim

1

In [34]:
input_data_reshaped = input_data_as_nparray.reshape(1,-1)

In [35]:
input_data_reshaped.ndim

2

In [36]:
prediction = model.predict(input_data_reshaped )
print(prediction)
if (prediction[0] == 0 ):
    print(" not usable ")
else :
    print(" usable ")

[1.]
 usable